@fon-face {
    font-family: 8bitoperator JVE;
    src: url(howdy/8bitoperator_jve.ttf);
}
body {
	background-color:#000000;
	overflow: hidden;
}
#parent {
	margin-left:auto;
	margin-right:auto;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}
#child {
	font-family: '8bitoperator JVE';
	font-size: 600%;
	color: #FFFFFF
}